body {
    margin: 0;
}

.post {
    word-wrap: break-word;
    background: #424242;
}

.post-toolbar {
    font-family: 'Roboto', sans-serif-light;
    background: #212121;
    color: #F5F5F5;
    height: 64px;
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.post-toolbar-inner {
    margin: 0 auto;
    padding: 8px;
}

.post-toolbar p {
    color: #F5F5F5;
}

.profile-picture {
    float: left;
    height: 48px;
    width: 48px;
}

.post-details {
    float: left;
    padding: 4px;
    color: #757575;
}

.post-content {
    font-family: 'Roboto', sans-serif-light;
    color: #F5F5F5;
    padding: 10px;
}

.post-content a {
    color: #00BCD4;
}

.post-content img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/*
 * Utilidades para redimensionar objetos y ajustarlos a la WebView
 */
img {
    max-width: 100%;
    width:auto;
    height: auto;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}