.smiley {
    box-sizing: border-box;
    width: 60px;
    height: 45px;
    margin: 4px;
}

.smiley:hover {
    background: #424242;
}

.smiley img {
    max-width: 90%;
    max-height: 90%;
}

body {
    padding-top: 20px;
    padding-bottom: 80px;
}